@import url("navbar.css");
:root {
  --global-color: #c50000;
  --global-color-2: #ff2600;
  --global-bg: tomato;
  --global-white: white;
  --bg-color: #c500008a;
  --text-color: #d60000;
}
* a {
  text-decoration: none;
  color: white;
}
body {
  background-color: black;
}
.p1 {
  margin-top: 60px;
  height: 25em;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--global-bg), 0 0 50px var(--global-color);
}
.home {
  display: flex;
}
.home-content {
  margin-left: 100px;
  margin-top: 150px;
}
.home-content h1 {
  font-weight: bold;
  font-size: 60px;
}
.home-content #s1 {
  text-shadow: 0 0 25px var(--global-color), 0 0 50px var(--global-color);
  color: var(--global-color);
}
.space {
  padding: 5px;
}
.home-btn1 {
  margin-right: 15px;
  padding: 10px;
  font-size: 15px;
  font-weight: 900;
}
.home-btn2 {
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  background-color: red;
}
.home-content p {
  margin-top: 2px;
  font-weight: 500;
  font-size: 16px;
}
/* Type writter animation Start*/
.animated-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Youtuber";
  color: var(--global-color-2);
  text-shadow: 0 0 25px var(--global-color-2);
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: black;
  border-left: 2px solid #ff0c0c;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Software Developer";
  }
  21%,
  40% {
    content: "Web Developer";
  }
  41%,
  60% {
    content: "Minecraft Developer ";
  }
  61%,
  80% {
    content: "Web Designer";
  }
  81%,
  100% {
    content: "Web Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
/* End */
.services {
  padding: 50px;
  background-color: #0c0c0c;
  margin-top: 50px;
  text-align: center;
  border-radius: 6%;
  box-shadow: 0 0 25px red;
}
.services h1 {
  color: red;
  text-shadow: 0 0 25px var(--global-color), 0 0 25px var(--global-color),
    0 0 25px var(--global-color);
}

.service {
  margin-top: 40px;
  display: flex;
}
.service {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: black;
  padding: 5px;
}
.btn-primary {
  color: white;
  border: 2px solid var(--global-color);
  background-color: transparent;
}
.btn-primary:hover {
  border: none;
}

@media (max-width: 991px) {
  /* Navbar start */
  .nav-item {
    font-size: 15px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .nav-link:hover,
  .yay {
    color: var(--global-color);
  }
  .nav-item:hover,
  .yay {
    border-bottom: none;
    border-radius: 20px;
    color: var(--global-color);
    text-shadow: 0 0 25px var(--global-color), 0 0 25px var(--global-color),
      0 0 25px var(--global-color);
  }
  /* Navbar end */
  .home {
    align-items: center;
    display: flexbox;
    flex-direction: column;
  }
  .home-content {
    margin-top: 50px;
    margin-left: 0px;
  }
  .p1 {
    height: 20em;
  }
  .service {
    display: contents;
    left: 0;
    top: 0;
    align-items: center;
  }
  .card {
    margin-top: 5em;
    align-items: center;
    align-self: center;
    margin-bottom: 5em;
    left: 27%;
  }
}

@media (max-width: 767px) {
  .card {
    left: 17%;
    right: 17%;
  }
}
@media (max-width: 431px) {
  .card {
    position: initial;
  }
}

/* Skills Section */
.skills .heading {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
  text-shadow: 0 0 25px red, 0 0 50px red;
  text-align: center;
  background-color: black;
}
.skills {
  background-color: black;
  margin-bottom: 100px;
}

.skills .container {
  box-shadow: 0 0 25px red;
  background-color: #e1352c48;
  color: var(--text-color);
  border-radius: 1rem;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}
.row img {
  width: 50px;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
  padding: 20px;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  background: #000000;
  box-shadow: 0 4px 10px var(--global-color);
}
.skills .container .bar:hover {
  transform: scale(1.03);

  box-shadow: 0 4px 10px var(--global-color-2);
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 991px) {
  .skills .container .row {
    display: flex;
  }
}
/* Projects */
.projects {
  background-color: #040111;
  margin-top: 60px;
  box-shadow: 0 0 25px red, 0 0 50px purple;
  border-radius: 20px;
  padding: 50px;
}
.projects .card:hover {
  transition: 0.2s;
  transform: scale(1.02);
}
.projects h1 {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 25px;
}
.projects a {
  text-decoration: none;
}
.projects img {
  width: 100%;
}
/* Footer */
footer {
  color: black;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 72, 0);
}
footer a {
  padding-left: 20px;
  font-size: 30px;
  color: black;
}
footer ul li {
  display: inline-block;
}
footer li a {
  font-size: 20px;
  padding-left: 20px;
  color: black;
  text-decoration: none;
}
